<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcos.teaching.core.dao.BookMapper">
	<resultMap id="BaseResultMap" type="com.jcos.teaching.core.model.Book">
		<id column="intBookId" property="intbookid" jdbcType="INTEGER" />
		<result column="strBookName" property="strbookname" jdbcType="VARCHAR" />
		<result column="strBookCoding" property="strbookcoding" jdbcType="VARCHAR" />
		<result column="strBookSN" property="strbooksn" jdbcType="VARCHAR" />
		<result column="intBookTypeId" property="intbooktypeid" jdbcType="INTEGER" />
		<result column="strPrice" property="strprice" jdbcType="DOUBLE" />
		<result column="strPress" property="strpress" jdbcType="VARCHAR" />
		<result column="strAuthor" property="strauthor" jdbcType="VARCHAR" />
		<result column="intPriceDiscount" property="intpricediscount" jdbcType="DOUBLE" />
		<result column="intSupplierId" property="intsupplierid" jdbcType="INTEGER" />
		<result column="dateAddTime" property="dateaddtime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		intBookId, strBookName, strBookCoding, strBookSN, intBookTypeId, strPrice, strPress,
		strAuthor, intPriceDiscount, intSupplierId, dateAddTime
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from book
		where intBookId = #{intbookid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from book
		where intBookId = #{intbookid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.jcos.teaching.core.model.Book">
		insert into book (intBookId, strBookName, strBookCoding,
		strBookSN, intBookTypeId, strPrice,
		strPress, strAuthor, intPriceDiscount,
		intSupplierId, dateAddTime)
		values (#{intbookid,jdbcType=INTEGER}, #{strbookname,jdbcType=VARCHAR}, #{strbookcoding,jdbcType=VARCHAR},
		#{strbooksn,jdbcType=VARCHAR}, #{intbooktypeid,jdbcType=INTEGER},
		#{strprice,jdbcType=DOUBLE},
		#{strpress,jdbcType=VARCHAR}, #{strauthor,jdbcType=VARCHAR}, #{intpricediscount,jdbcType=DOUBLE},
		#{intsupplierid,jdbcType=INTEGER}, #{dateaddtime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.jcos.teaching.core.model.Book">
		insert into book
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="intbookid != null">
				intBookId,
			</if>
			<if test="strbookname != null">
				strBookName,
			</if>
			<if test="strbookcoding != null">
				strBookCoding,
			</if>
			<if test="strbooksn != null">
				strBookSN,
			</if>
			<if test="intbooktypeid != null">
				intBookTypeId,
			</if>
			<if test="strprice != null">
				strPrice,
			</if>
			<if test="strpress != null">
				strPress,
			</if>
			<if test="strauthor != null">
				strAuthor,
			</if>
			<if test="intpricediscount != null">
				intPriceDiscount,
			</if>
			<if test="intsupplierid != null">
				intSupplierId,
			</if>
			<if test="dateaddtime != null">
				dateAddTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="intbookid != null">
				#{intbookid,jdbcType=INTEGER},
			</if>
			<if test="strbookname != null">
				#{strbookname,jdbcType=VARCHAR},
			</if>
			<if test="strbookcoding != null">
				#{strbookcoding,jdbcType=VARCHAR},
			</if>
			<if test="strbooksn != null">
				#{strbooksn,jdbcType=VARCHAR},
			</if>
			<if test="intbooktypeid != null">
				#{intbooktypeid,jdbcType=INTEGER},
			</if>
			<if test="strprice != null">
				#{strprice,jdbcType=DOUBLE},
			</if>
			<if test="strpress != null">
				#{strpress,jdbcType=VARCHAR},
			</if>
			<if test="strauthor != null">
				#{strauthor,jdbcType=VARCHAR},
			</if>
			<if test="intpricediscount != null">
				#{intpricediscount,jdbcType=DOUBLE},
			</if>
			<if test="intsupplierid != null">
				#{intsupplierid,jdbcType=INTEGER},
			</if>
			<if test="dateaddtime != null">
				#{dateaddtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jcos.teaching.core.model.Book">
		update book
		<set>
			<if test="strbookname != null">
				strBookName = #{strbookname,jdbcType=VARCHAR},
			</if>
			<if test="strbookcoding != null">
				strBookCoding = #{strbookcoding,jdbcType=VARCHAR},
			</if>
			<if test="strbooksn != null">
				strBookSN = #{strbooksn,jdbcType=VARCHAR},
			</if>
			<if test="intbooktypeid != null">
				intBookTypeId = #{intbooktypeid,jdbcType=INTEGER},
			</if>
			<if test="strprice != null">
				strPrice = #{strprice,jdbcType=DOUBLE},
			</if>
			<if test="strpress != null">
				strPress = #{strpress,jdbcType=VARCHAR},
			</if>
			<if test="strauthor != null">
				strAuthor = #{strauthor,jdbcType=VARCHAR},
			</if>
			<if test="intpricediscount != null">
				intPriceDiscount = #{intpricediscount,jdbcType=DOUBLE},
			</if>
			<if test="intsupplierid != null">
				intSupplierId = #{intsupplierid,jdbcType=INTEGER},
			</if>
			<if test="dateaddtime != null">
				dateAddTime = #{dateaddtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where intBookId = #{intbookid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jcos.teaching.core.model.Book">
		update book
		set strBookName = #{strbookname,jdbcType=VARCHAR},
		strBookCoding = #{strbookcoding,jdbcType=VARCHAR},
		strBookSN =
		#{strbooksn,jdbcType=VARCHAR},
		intBookTypeId = #{intbooktypeid,jdbcType=INTEGER},
		strPrice = #{strprice,jdbcType=DOUBLE},
		strPress = #{strpress,jdbcType=VARCHAR},
		strAuthor =
		#{strauthor,jdbcType=VARCHAR},
		intPriceDiscount = #{intpricediscount,jdbcType=DOUBLE},
		intSupplierId = #{intsupplierid,jdbcType=INTEGER},
		dateAddTime = #{dateaddtime,jdbcType=TIMESTAMP}
		where intBookId
		= #{intbookid,jdbcType=INTEGER}
	</update>
	<resultMap id="BookTypeExtendMap" type="Book" extends="BaseResultMap">
		<association property="bookType" column="intBookTypeId" select="com.jcos.teaching.core.dao.BookTypeMapper.selectByPrimaryKey" />
		<association property="supplier" column="intSupplierId" select="com.jcos.teaching.core.dao.SupplierMapper.selectByPrimaryKey" />
	</resultMap>
	<select id="queryBooks" resultMap="BookTypeExtendMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from book
		<trim prefix="WHERE" suffix="" suffixOverrides="AND">
			<if test="record.strbookname != null">
				strBookName like CONCAT('%',#{record.strbookname,jdbcType=VARCHAR},'%') AND
			</if>
			<if test="record.strbookcoding != null">
				strBookCoding like CONCAT('%',#{record.strbookcoding,jdbcType=VARCHAR},'%') AND
			</if>
			<if test="record.strbooksn != null">
				strBookSN like CONCAT('%',#{record.strbooksn,jdbcType=VARCHAR},'%') AND
			</if>
			<if test="record.intbooktypeid != null">
				intBookTypeId = #{record.intbooktypeid,jdbcType=INTEGER} AND
			</if>
			<if test="record.strprice != null">
				strPrice like CONCAT('%',#{record.strprice,jdbcType=DOUBLE},'%') AND
			</if>
			<if test="record.strpress != null">
				strPress like CONCAT('%',#{record.strpress,jdbcType=VARCHAR},'%') AND
			</if>
			<if test="record.strauthor != null">
				strAuthor like CONCAT('%',#{record.strauthor,jdbcType=VARCHAR},'%') AND
			</if>
			<if test="record.intpricediscount != null">
				intPriceDiscount like CONCAT('%',#{record.intpricediscount,jdbcType=DOUBLE},'%') AND
			</if>
			<if test="record.intsupplierid != null">
				intSupplierId = #{record.intsupplierid,jdbcType=INTEGER} AND
			</if>
			<if test="record.dateaddtime != null">
				date_format(dateAddTime,'%y-%m-%d') = date_format(#{record.dateaddtime,jdbcType=TIMESTAMP},'%y-%m-%d')
			</if>
		</trim>
		order by intBookId asc
		limit #{start,jdbcType=INTEGER} , #{size,jdbcType=INTEGER}
	</select>
	<select id="queryBookTotal" resultType="java.lang.Integer">
		select count(*) from book
		<trim prefix="WHERE" suffix="" suffixOverrides="AND">
			<if test="strbookname != null">
				strBookName like CONCAT('%',#{strbookname,jdbcType=VARCHAR},'%') AND
			</if>
			<if test="strbookcoding != null">
				strBookCoding like CONCAT('%',#{strbookcoding,jdbcType=VARCHAR},'%') AND
			</if>
			<if test="strbooksn != null">
				strBookSN like CONCAT('%',#{strbooksn,jdbcType=VARCHAR},'%') AND
			</if>
			<if test="intbooktypeid != null">
				intBookTypeId = #{intbooktypeid,jdbcType=INTEGER} AND
			</if>
			<if test="strprice != null">
				strPrice like CONCAT('%',#{strprice,jdbcType=DOUBLE},'%') AND
			</if>
			<if test="strpress != null">
				strPress like CONCAT('%',#{strpress,jdbcType=VARCHAR},'%') AND
			</if>
			<if test="strauthor != null">
				strAuthor like CONCAT('%',#{strauthor,jdbcType=VARCHAR},'%') AND
			</if>
			<if test="intpricediscount != null">
				intPriceDiscount like CONCAT('%',#{intpricediscount,jdbcType=DOUBLE},'%') AND
			</if>
			<if test="intsupplierid != null">
				intSupplierId = #{intsupplierid,jdbcType=INTEGER} AND
			</if>
			<if test="dateaddtime != null">
				date_format(dateAddTime,'%y-%m-%d') = date_format(#{dateaddtime,jdbcType=TIMESTAMP},'%y-%m-%d')
			</if>
		</trim>
	</select>

	<select id="authSupplierById" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		select count(intBookId) from book
		where intSupplierId = #{intsupplierid,jdbcType=INTEGER}
	</select>
	<select id="authBookType" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		select count(intBookId) from book
		where intBookTypeId = #{id,jdbcType=INTEGER}
	</select>

</mapper>