<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcos.teaching.core.dao.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.jcos.teaching.core.model.Course" >
    <id column="intCourseId" property="intcourseid" jdbcType="INTEGER" />
    <result column="intCourseType" property="intcoursetype" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    intCourseId, intCourseType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course
    where intCourseId = #{intcourseid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course
    where intCourseId = #{intcourseid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jcos.teaching.core.model.Course" >
    insert into course (intCourseId, intCourseType)
    values (#{intcourseid,jdbcType=INTEGER}, #{intcoursetype,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jcos.teaching.core.model.Course" >
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="intcourseid != null" >
        intCourseId,
      </if>
      <if test="intcoursetype != null" >
        intCourseType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="intcourseid != null" >
        #{intcourseid,jdbcType=INTEGER},
      </if>
      <if test="intcoursetype != null" >
        #{intcoursetype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jcos.teaching.core.model.Course" >
    update course
    <set >
      <if test="intcoursetype != null" >
        intCourseType = #{intcoursetype,jdbcType=INTEGER},
      </if>
    </set>
    where intCourseId = #{intcourseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jcos.teaching.core.model.Course" >
    update course
    set intCourseType = #{intcoursetype,jdbcType=INTEGER}
    where intCourseId = #{intcourseid,jdbcType=INTEGER}
  </update>
</mapper>