<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcos.teaching.core.dao.MoneyResultMapper" >
  <resultMap id="BaseResultMap" type="com.jcos.teaching.core.model.MoneyResult" >
    <id column="intResultId" property="intresultid" jdbcType="INTEGER" />
    <result column="intUserId" property="intuserid" jdbcType="INTEGER" />
    <result column="intOperationUserId" property="intoperationuserid" jdbcType="INTEGER" />
    <result column="intResultTypeId" property="intresulttypeid" jdbcType="INTEGER" />
    <result column="strPrice" property="strprice" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    intResultId, intUserId, intOperationUserId, intResultTypeId, strPrice
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from moneyresult
    where intResultId = #{intresultid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from moneyresult
    where intResultId = #{intresultid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jcos.teaching.core.model.MoneyResult" >
    insert into moneyresult (intResultId, intUserId, intOperationUserId, 
      intResultTypeId, strPrice)
    values (#{intresultid,jdbcType=INTEGER}, #{intuserid,jdbcType=INTEGER}, #{intoperationuserid,jdbcType=INTEGER}, 
      #{intresulttypeid,jdbcType=INTEGER}, #{strprice,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.jcos.teaching.core.model.MoneyResult" >
    insert into moneyresult
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="intresultid != null" >
        intResultId,
      </if>
      <if test="intuserid != null" >
        intUserId,
      </if>
      <if test="intoperationuserid != null" >
        intOperationUserId,
      </if>
      <if test="intresulttypeid != null" >
        intResultTypeId,
      </if>
      <if test="strprice != null" >
        strPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="intresultid != null" >
        #{intresultid,jdbcType=INTEGER},
      </if>
      <if test="intuserid != null" >
        #{intuserid,jdbcType=INTEGER},
      </if>
      <if test="intoperationuserid != null" >
        #{intoperationuserid,jdbcType=INTEGER},
      </if>
      <if test="intresulttypeid != null" >
        #{intresulttypeid,jdbcType=INTEGER},
      </if>
      <if test="strprice != null" >
        #{strprice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jcos.teaching.core.model.MoneyResult" >
    update moneyresult
    <set >
      <if test="intuserid != null" >
        intUserId = #{intuserid,jdbcType=INTEGER},
      </if>
      <if test="intoperationuserid != null" >
        intOperationUserId = #{intoperationuserid,jdbcType=INTEGER},
      </if>
      <if test="intresulttypeid != null" >
        intResultTypeId = #{intresulttypeid,jdbcType=INTEGER},
      </if>
      <if test="strprice != null" >
        strPrice = #{strprice,jdbcType=DOUBLE},
      </if>
    </set>
    where intResultId = #{intresultid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jcos.teaching.core.model.MoneyResult" >
    update moneyresult
    set intUserId = #{intuserid,jdbcType=INTEGER},
      intOperationUserId = #{intoperationuserid,jdbcType=INTEGER},
      intResultTypeId = #{intresulttypeid,jdbcType=INTEGER},
      strPrice = #{strprice,jdbcType=DOUBLE}
    where intResultId = #{intresultid,jdbcType=INTEGER}
  </update>
</mapper>