<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcos.teaching.core.dao.PowerMapper">
	<resultMap id="BaseResultMap" type="com.jcos.teaching.core.model.Power">
		<id column="intPowerId" property="intpowerid" jdbcType="INTEGER" />
		<result column="intParentId" property="intparentid" jdbcType="INTEGER" />
		<result column="strName" property="strname" jdbcType="VARCHAR" />
		<result column="intUserTypeId" property="intusertypeid" jdbcType="INTEGER" />
		<result column="strAuthName" property="strauthname" jdbcType="VARCHAR" />
		<result column="intAuthValue" property="intauthvalue" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		intPowerId, intParentId, strName, intUserTypeId, strAuthName, intAuthValue
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from power
		where intPowerId = #{intpowerid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from power
		where intPowerId = #{intpowerid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.jcos.teaching.core.model.Power">
		insert into power (intPowerId, intParentId, strName,
		intUserTypeId, strAuthName, intAuthValue
		)
		values (#{intpowerid,jdbcType=INTEGER},
		#{intparentid,jdbcType=INTEGER}, #{strname,jdbcType=VARCHAR},
		#{intusertypeid,jdbcType=INTEGER},
		#{strauthname,jdbcType=VARCHAR}, #{intauthvalue,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.jcos.teaching.core.model.Power">
		insert into power
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="intpowerid != null">
				intPowerId,
			</if>
			<if test="intparentid != null">
				intParentId,
			</if>
			<if test="strname != null">
				strName,
			</if>
			<if test="intusertypeid != null">
				intUserTypeId,
			</if>
			<if test="strauthname != null">
				strAuthName,
			</if>
			<if test="intauthvalue != null">
				intAuthValue,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="intpowerid != null">
				#{intpowerid,jdbcType=INTEGER},
			</if>
			<if test="intparentid != null">
				#{intparentid,jdbcType=INTEGER},
			</if>
			<if test="strname != null">
				#{strname,jdbcType=VARCHAR},
			</if>
			<if test="intusertypeid != null">
				#{intusertypeid,jdbcType=INTEGER},
			</if>
			<if test="strauthname != null">
				#{strauthname,jdbcType=VARCHAR},
			</if>
			<if test="intauthvalue != null">
				#{intauthvalue,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jcos.teaching.core.model.Power">
		update power
		<set>
			<if test="intparentid != null">
				intParentId = #{intparentid,jdbcType=INTEGER},
			</if>
			<if test="strname != null">
				strName = #{strname,jdbcType=VARCHAR},
			</if>
			<if test="intusertypeid != null">
				intUserTypeId = #{intusertypeid,jdbcType=INTEGER},
			</if>
			<if test="strauthname != null">
				strAuthName = #{strauthname,jdbcType=VARCHAR},
			</if>
			<if test="intauthvalue != null">
				intAuthValue = #{intauthvalue,jdbcType=INTEGER},
			</if>
		</set>
		where intPowerId = #{intpowerid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jcos.teaching.core.model.Power">
		update power
		set intParentId = #{intparentid,jdbcType=INTEGER},
		strName = #{strname,jdbcType=VARCHAR},
		intUserTypeId =
		#{intusertypeid,jdbcType=INTEGER},
		strAuthName = #{strauthname,jdbcType=VARCHAR},
		intAuthValue = #{intauthvalue,jdbcType=INTEGER}
		where intPowerId = #{intpowerid,jdbcType=INTEGER}
	</update>
	<select id="queryPowerByName" resultType="java.lang.Integer">
		select intAuthValue from power
		where strAuthName = #{name,jdbcType=VARCHAR} and intUserTypeId = (select intTypeId from user where intId =
		#{intId,jdbcType=INTEGER})
	</select>
	<select id="selectManagePower" resultType="com.jcos.teaching.core.model.Power">
		select intPowerId,intParentId,strName,strAuthName from power
		where intParentId = #{intparentid,jdbcType=INTEGER} and intUserTypeId =
		#{intusertypeid,jdbcType=INTEGER}
	</select>
	<insert id="insertParentPower" parameterType="com.jcos.teaching.core.model.Power" useGeneratedKeys="true" keyProperty="intpowerid">
		insert into power (intParentId, strName,
		intUserTypeId, strAuthName,
		intAuthValue
		)
		values (
		#{intparentid,jdbcType=INTEGER}, #{strname,jdbcType=VARCHAR},
		#{intusertypeid,jdbcType=INTEGER},
		#{strauthname,jdbcType=VARCHAR}, #{intauthvalue,jdbcType=INTEGER}
		)
	</insert>

	<delete id="deletePowerByUserType" parameterType="java.lang.Integer">
		delete from power
		where intUserTypeId = #{intusertypeid,jdbcType=INTEGER}
	</delete>

	<insert id="insertPowerList" parameterType="java.util.List">
		insert into power (intParentId, strName,
		intUserTypeId, strAuthName, intAuthValue
		)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.intparentid,jdbcType=INTEGER}, #{item.strname,jdbcType=VARCHAR},
			#{item.intusertypeid,jdbcType=INTEGER},
			#{item.strauthname,jdbcType=VARCHAR}, #{item.intauthvalue,jdbcType=INTEGER})
		</foreach>
	</insert>

	<select id="selectPowerByUserType" parameterType="java.util.List" resultType="com.jcos.teaching.core.model.Power">
		select intPowerId,intParentId,strName,strAuthName,intAuthValue from power
		where intUserTypeId in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item,jdbcType=INTEGER}
		</foreach>
	</select>

	<update id="updatePowerListByAuthValue">
		update power set intAuthValue = #{intauthvalue,jdbcType=INTEGER} where intPowerId in
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
			#{item,jdbcType=INTEGER}
		</foreach>
	</update>
</mapper>