<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcos.teaching.core.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.jcos.teaching.core.model.User">
		<id column="intId" property="intid" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="strName" property="strname" jdbcType="VARCHAR" />
		<result column="intTypeId" property="inttypeid" jdbcType="INTEGER" />
		<result column="intUserMajor" property="intusermajor" jdbcType="INTEGER" />
		<result column="intUserDepartment" property="intuserdepartment" jdbcType="INTEGER" />
		<result column="strStuNum" property="strstunum" jdbcType="VARCHAR" />
		<result column="strPhone" property="strphone" jdbcType="VARCHAR" />
		<result column="strMail" property="strmail" jdbcType="VARCHAR" />
		<result column="dateRegTime" property="dateregtime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		intId, username, password, strName, intTypeId, intUserMajor, intUserDepartment, strStuNum,
		strPhone, strMail, dateRegTime
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user
		where intId = #{intid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user
		where intId = #{intid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.jcos.teaching.core.model.User">
		insert into user (intId, username, password,
		strName, intTypeId, intUserMajor,
		intUserDepartment, strStuNum, strPhone,
		strMail, dateRegTime)
		values
		(#{intid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
		#{strname,jdbcType=VARCHAR}, #{inttypeid,jdbcType=INTEGER}, #{intusermajor,jdbcType=INTEGER},
		#{intuserdepartment,jdbcType=INTEGER}, #{strstunum,jdbcType=VARCHAR}, #{strphone,jdbcType=VARCHAR},
		#{strmail,jdbcType=VARCHAR}, #{dateregtime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.jcos.teaching.core.model.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="intid != null">
				intId,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="strname != null">
				strName,
			</if>
			<if test="inttypeid != null">
				intTypeId,
			</if>
			<if test="intusermajor != null">
				intUserMajor,
			</if>
			<if test="intuserdepartment != null">
				intUserDepartment,
			</if>
			<if test="strstunum != null">
				strStuNum,
			</if>
			<if test="strphone != null">
				strPhone,
			</if>
			<if test="strmail != null">
				strMail,
			</if>
			<if test="dateregtime != null">
				dateRegTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="intid != null">
				#{intid,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="strname != null">
				#{strname,jdbcType=VARCHAR},
			</if>
			<if test="inttypeid != null">
				#{inttypeid,jdbcType=INTEGER},
			</if>
			<if test="intusermajor != null">
				#{intusermajor,jdbcType=INTEGER},
			</if>
			<if test="intuserdepartment != null">
				#{intuserdepartment,jdbcType=INTEGER},
			</if>
			<if test="strstunum != null">
				#{strstunum,jdbcType=VARCHAR},
			</if>
			<if test="strphone != null">
				#{strphone,jdbcType=VARCHAR},
			</if>
			<if test="strmail != null">
				#{strmail,jdbcType=VARCHAR},
			</if>
			<if test="dateregtime != null">
				#{dateregtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jcos.teaching.core.model.User">
		update user
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="strname != null">
				strName = #{strname,jdbcType=VARCHAR},
			</if>
			<if test="inttypeid != null">
				intTypeId = #{inttypeid,jdbcType=INTEGER},
			</if>
			<if test="intusermajor != null">
				intUserMajor = #{intusermajor,jdbcType=INTEGER},
			</if>
			<if test="intuserdepartment != null">
				intUserDepartment = #{intuserdepartment,jdbcType=INTEGER},
			</if>
			<if test="strstunum != null">
				strStuNum = #{strstunum,jdbcType=VARCHAR},
			</if>
			<if test="strphone != null">
				strPhone = #{strphone,jdbcType=VARCHAR},
			</if>
			<if test="strmail != null">
				strMail = #{strmail,jdbcType=VARCHAR},
			</if>
			<if test="dateregtime != null">
				dateRegTime = #{dateregtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where intId = #{intid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jcos.teaching.core.model.User">
		update user
		set username = #{username,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		strName = #{strname,jdbcType=VARCHAR},
		intTypeId =
		#{inttypeid,jdbcType=INTEGER},
		intUserMajor = #{intusermajor,jdbcType=INTEGER},
		intUserDepartment =
		#{intuserdepartment,jdbcType=INTEGER},
		strStuNum = #{strstunum,jdbcType=VARCHAR},
		strPhone =
		#{strphone,jdbcType=VARCHAR},
		strMail = #{strmail,jdbcType=VARCHAR},
		dateRegTime = #{dateregtime,jdbcType=TIMESTAMP}
		where intId = #{intid,jdbcType=INTEGER}
	</update>

	<select id="selectUserSelective" resultMap="BaseResultMap" parameterType="User">
		select
		<include refid="Base_Column_List" />
		from user
		<trim prefix="where" suffix="" suffixOverrides="AND">
			<if test="intid != null">
				intId = #{intid,jdbcType=INTEGER} AND
			</if>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR} AND
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR} AND
			</if>
			<if test="strname != null">
				strName = #{strname,jdbcType=VARCHAR} AND
			</if>
			<if test="inttypeid != null">
				intTypeId = #{inttypeid,jdbcType=INTEGER} AND
			</if>
			<if test="intusermajor != null">
				intUserMajor = #{intusermajor,jdbcType=INTEGER} AND
			</if>
			<if test="intuserdepartment != null">
				intUserDepartment = #{intuserdepartment,jdbcType=INTEGER} AND
			</if>
			<if test="strstunum != null">
				strStuNum = #{strstunum,jdbcType=VARCHAR} AND
			</if>
			<if test="strphone != null">
				strPhone = #{strphone,jdbcType=VARCHAR} AND
			</if>
			<if test="strmail != null">
				strMail= #{strmail,jdbcType=VARCHAR} AND
			</if>
			<if test="dateregtime != null">
				dateRegTime = #{dateregtime,jdbcType=TIMESTAMP} AND
			</if>
		</trim>
	</select>
	<select id="selectUserByUserName" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(intId) from user where username = #{username,jdbcType=VARCHAR}
	</select>
	<select id="selectUserByUserNameAndId" resultType="java.lang.Integer">
		select count(intId) from user where username = #{username,jdbcType=VARCHAR} and intId != #{userId,jdbcType=INTEGER}
	</select>
	<insert id="InertUser" parameterType="User">
		insert into user ( username, password,
		strName, intTypeId,intUserMajor,intUserDepartment,
		strStuNum, strPhone,
		strMail, dateRegTime)
		values (
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{strname,jdbcType=VARCHAR}, #{inttypeid,jdbcType=INTEGER},
		#{intusermajor,jdbcType=INTEGER}, #{intuserdepartment,jdbcType=INTEGER},
		#{strstunum,jdbcType=VARCHAR},
		#{strphone,jdbcType=VARCHAR},
		#{strmail,jdbcType=VARCHAR}, #{dateregtime,jdbcType=TIMESTAMP})
	</insert>

	<resultMap id="UserTypeExtendMap" type="User" extends="BaseResultMap">
		<association property="userType" column="intTypeId" select="com.jcos.teaching.core.dao.UserTypeMapper.selectByPrimaryKey" />
		<association property="userDepartMent" column="intUserDepartment" select="com.jcos.teaching.core.dao.UserDepartMentMapper.selectByPrimaryKey" />
		<association property="userMajor" column="intUserMajor" select="com.jcos.teaching.core.dao.UserDepartMentMapper.selectByPrimaryKey" />
	</resultMap>


	<select id="authLoginUser" resultMap="UserTypeExtendMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
	</select>
	<select id="authUserByIdUserNamePass" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR} and intId = #{userid,jdbcType=INTEGER}
	</select>

	<select id="selectUserById" resultMap="UserTypeExtendMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user
		where intId = #{intid,jdbcType=INTEGER}
	</select>
	<select id="GetAllUser" resultMap="UserTypeExtendMap" parameterType="java.lang.Integer">
		select
		intId, username, strName, intTypeId, intUserMajor,intUserDepartment, strStuNum, strPhone,
		strMail, dateRegTime
		from user
		order by
		intId asc
		limit
		#{start,jdbcType=INTEGER} , #{size,jdbcType=INTEGER}
	</select>
	<select id="queryUserTotal" resultType="java.lang.Integer">
		select count(*) from user
	</select>
	<select id="authUserDepartMent" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(intId) from user where intUserMajor = #{id,jdbcType=INTEGER} or intUserDepartment =
		#{id,jdbcType=INTEGER}
	</select>
	<select id="authUserType" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(intId) from user where intTypeId = #{id,jdbcType=INTEGER}
	</select>
</mapper>