<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  	<typeAliases>
		<typeAlias alias="User" type="com.jcos.teaching.core.model.User" />
		<typeAlias alias="UserType" type="com.jcos.teaching.core.model.UserType" />
		<typeAlias alias="Book" type="com.jcos.teaching.core.model.Book" />
		<typeAlias alias="BookType" type="com.jcos.teaching.core.model.BookType" />
		<typeAlias alias="Supplier" type="com.jcos.teaching.core.model.Supplier" />
		<typeAlias alias="BookPlan" type="com.jcos.teaching.core.model.BookPlan" />
	</typeAliases>
</configuration>