<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcos.teaching.core.dao.BookOutMapper" >
  <resultMap id="BaseResultMap" type="com.jcos.teaching.core.model.BookOut" >
    <id column="intBookOutId" property="intbookoutid" jdbcType="INTEGER" />
    <result column="intUserId" property="intuserid" jdbcType="INTEGER" />
    <result column="intForId" property="intforid" jdbcType="INTEGER" />
    <result column="dateOut" property="dateout" jdbcType="TIMESTAMP" />
    <result column="intOutCount" property="intoutcount" jdbcType="INTEGER" />
    <result column="intStudentId" property="intstudentid" jdbcType="INTEGER" />
    <result column="intStudentName" property="intstudentname" jdbcType="VARCHAR" />
    <result column="intSex" property="intsex" jdbcType="INTEGER" />
    <result column="intClassId" property="intclassid" jdbcType="INTEGER" />
    <result column="dateOutTime" property="dateouttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    intBookOutId, intUserId, intForId, dateOut, intOutCount, intStudentId, intStudentName, 
    intSex, intClassId, dateOutTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bookOut
    where intBookOutId = #{intbookoutid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bookOut
    where intBookOutId = #{intbookoutid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jcos.teaching.core.model.BookOut" >
    insert into bookOut (intBookOutId, intUserId, intForId, 
      dateOut, intOutCount, intStudentId, 
      intStudentName, intSex, intClassId, 
      dateOutTime)
    values (#{intbookoutid,jdbcType=INTEGER}, #{intuserid,jdbcType=INTEGER}, #{intforid,jdbcType=INTEGER}, 
      #{dateout,jdbcType=TIMESTAMP}, #{intoutcount,jdbcType=INTEGER}, #{intstudentid,jdbcType=INTEGER}, 
      #{intstudentname,jdbcType=VARCHAR}, #{intsex,jdbcType=INTEGER}, #{intclassid,jdbcType=INTEGER}, 
      #{dateouttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jcos.teaching.core.model.BookOut" >
    insert into bookOut
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="intbookoutid != null" >
        intBookOutId,
      </if>
      <if test="intuserid != null" >
        intUserId,
      </if>
      <if test="intforid != null" >
        intForId,
      </if>
      <if test="dateout != null" >
        dateOut,
      </if>
      <if test="intoutcount != null" >
        intOutCount,
      </if>
      <if test="intstudentid != null" >
        intStudentId,
      </if>
      <if test="intstudentname != null" >
        intStudentName,
      </if>
      <if test="intsex != null" >
        intSex,
      </if>
      <if test="intclassid != null" >
        intClassId,
      </if>
      <if test="dateouttime != null" >
        dateOutTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="intbookoutid != null" >
        #{intbookoutid,jdbcType=INTEGER},
      </if>
      <if test="intuserid != null" >
        #{intuserid,jdbcType=INTEGER},
      </if>
      <if test="intforid != null" >
        #{intforid,jdbcType=INTEGER},
      </if>
      <if test="dateout != null" >
        #{dateout,jdbcType=TIMESTAMP},
      </if>
      <if test="intoutcount != null" >
        #{intoutcount,jdbcType=INTEGER},
      </if>
      <if test="intstudentid != null" >
        #{intstudentid,jdbcType=INTEGER},
      </if>
      <if test="intstudentname != null" >
        #{intstudentname,jdbcType=VARCHAR},
      </if>
      <if test="intsex != null" >
        #{intsex,jdbcType=INTEGER},
      </if>
      <if test="intclassid != null" >
        #{intclassid,jdbcType=INTEGER},
      </if>
      <if test="dateouttime != null" >
        #{dateouttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jcos.teaching.core.model.BookOut" >
    update bookOut
    <set >
      <if test="intuserid != null" >
        intUserId = #{intuserid,jdbcType=INTEGER},
      </if>
      <if test="intforid != null" >
        intForId = #{intforid,jdbcType=INTEGER},
      </if>
      <if test="dateout != null" >
        dateOut = #{dateout,jdbcType=TIMESTAMP},
      </if>
      <if test="intoutcount != null" >
        intOutCount = #{intoutcount,jdbcType=INTEGER},
      </if>
      <if test="intstudentid != null" >
        intStudentId = #{intstudentid,jdbcType=INTEGER},
      </if>
      <if test="intstudentname != null" >
        intStudentName = #{intstudentname,jdbcType=VARCHAR},
      </if>
      <if test="intsex != null" >
        intSex = #{intsex,jdbcType=INTEGER},
      </if>
      <if test="intclassid != null" >
        intClassId = #{intclassid,jdbcType=INTEGER},
      </if>
      <if test="dateouttime != null" >
        dateOutTime = #{dateouttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where intBookOutId = #{intbookoutid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jcos.teaching.core.model.BookOut" >
    update bookOut
    set intUserId = #{intuserid,jdbcType=INTEGER},
      intForId = #{intforid,jdbcType=INTEGER},
      dateOut = #{dateout,jdbcType=TIMESTAMP},
      intOutCount = #{intoutcount,jdbcType=INTEGER},
      intStudentId = #{intstudentid,jdbcType=INTEGER},
      intStudentName = #{intstudentname,jdbcType=VARCHAR},
      intSex = #{intsex,jdbcType=INTEGER},
      intClassId = #{intclassid,jdbcType=INTEGER},
      dateOutTime = #{dateouttime,jdbcType=TIMESTAMP}
    where intBookOutId = #{intbookoutid,jdbcType=INTEGER}
  </update>
</mapper>