<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcos.teaching.core.dao.UserMapper">
	<resultMap id="BaseResultMap" type="User">
		<id column="intId" property="intid" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="strName" property="strname" jdbcType="VARCHAR" />
		<result column="intTypeId" property="inttypeid" jdbcType="INTEGER" />
		<result column="strPhone" property="strphone" jdbcType="VARCHAR" />
		<result column="strMail" property="strmail" jdbcType="VARCHAR" />
		<result column="dateRegTime" property="dateregtime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		intId, username, password, strName, intTypeId, strPhone, strMail, dateRegTime
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user
		where intId = #{intid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user
		where intId = #{intid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="User">
		insert into user (intId, username, password,
		strName, intTypeId, strPhone,
		strMail, dateRegTime)
		values (#{intid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{strname,jdbcType=VARCHAR}, #{inttypeid,jdbcType=INTEGER}, #{strphone,jdbcType=VARCHAR},
		#{strmail,jdbcType=VARCHAR}, #{dateregtime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="intid != null">
				intId,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="strname != null">
				strName,
			</if>
			<if test="inttypeid != null">
				intTypeId,
			</if>
			<if test="strphone != null">
				strPhone,
			</if>
			<if test="strmail != null">
				strMail,
			</if>
			<if test="dateregtime != null">
				dateRegTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="intid != null">
				#{intid,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="strname != null">
				#{strname,jdbcType=VARCHAR},
			</if>
			<if test="inttypeid != null">
				#{inttypeid,jdbcType=INTEGER},
			</if>
			<if test="strphone != null">
				#{strphone,jdbcType=VARCHAR},
			</if>
			<if test="strmail != null">
				#{strmail,jdbcType=VARCHAR},
			</if>
			<if test="dateregtime != null">
				#{dateregtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="User">
		update user
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="strname != null">
				strName = #{strname,jdbcType=VARCHAR},
			</if>
			<if test="inttypeid != null">
				intTypeId = #{inttypeid,jdbcType=INTEGER},
			</if>
			<if test="strphone != null">
				strPhone = #{strphone,jdbcType=VARCHAR},
			</if>
			<if test="strmail != null">
				strMail = #{strmail,jdbcType=VARCHAR},
			</if>
			<if test="dateregtime != null">
				dateRegTime = #{dateregtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where intId = #{intid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="User">
		update user
		set username = #{username,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		strName = #{strname,jdbcType=VARCHAR},
		intTypeId =
		#{inttypeid,jdbcType=INTEGER},
		strPhone = #{strphone,jdbcType=VARCHAR},
		strMail = #{strmail,jdbcType=VARCHAR},
		dateRegTime = #{dateregtime,jdbcType=TIMESTAMP}
		where intId = #{intid,jdbcType=INTEGER}
	</update>
	<select id="selectUserSelective" resultMap="BaseResultMap" parameterType="User">
		select
		<include refid="Base_Column_List" />
		from user
		<trim prefix="where" suffix="" suffixOverrides="AND">
			<if test="intid != null">
				intId = #{intid,jdbcType=INTEGER} AND
			</if>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR} AND
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR} AND
			</if>
			<if test="strname != null">
				strName = #{strname,jdbcType=VARCHAR} AND
			</if>
			<if test="inttypeid != null">
				intTypeId = #{inttypeid,jdbcType=INTEGER} AND
			</if>
			<if test="strphone != null">
				strPhone = #{strphone,jdbcType=VARCHAR} AND
			</if>
			<if test="strmail != null">
				strMail= #{strmail,jdbcType=VARCHAR} AND
			</if>
			<if test="dateregtime != null">
				dateRegTime = #{dateregtime,jdbcType=TIMESTAMP} AND
			</if>
		</trim>
	</select>
	<select id="selectUserByUserName" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(intId) from user where username = #{username,jdbcType=VARCHAR}
	</select>
	<insert id="InertUser" parameterType="User">
		insert into user ( username, password,
		strName, intTypeId, strPhone,
		strMail, dateRegTime)
		values ( #{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{strname,jdbcType=VARCHAR}, #{inttypeid,jdbcType=INTEGER},
		#{strphone,jdbcType=VARCHAR},
		#{strmail,jdbcType=VARCHAR}, #{dateregtime,jdbcType=TIMESTAMP})
	</insert>

	<resultMap id="UserTypeExtendMap" type="User" extends="BaseResultMap">
		<association property="userType" column="intTypeId" select="UserType.selectByPrimaryKey" />
	</resultMap>
	<select id="authLoginUser" resultMap="UserTypeExtendMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
	</select>
</mapper>